In [42]:
import pandas as pd

url = r"C:/Users/Carlos/Documents/BootCamp/Data Analyst/Week2/MiniProject02/GSAF5.csv.xlsx"

df = pd.read_excel(url)

df.columns = df.columns.str.strip()

selected_columns = ['Species', 'State', 'Location']
df_reduced = df[selected_columns]

df['State'] = df['State'].str.lower().str.replace(' ', '')

duplicates_count = df['State'].duplicated().sum()
print(f"There are {duplicates_count} duplicates in the 'State' column after transformation.")

unique_state_counts = df['State'].value_counts()

top_five_states = unique_state_counts.head(5)

print("Top 5 most frequently appearing states:")
print(top_five_states)

There are 6100 duplicates in the 'State' column after transformation.
Top 5 most frequently appearing states:
State
florida          1186
newsouthwales     524
queensland        349
hawaii            341
california        324
Name: count, dtype: int64

In [44]:
import pandas as pd

url = r"C:/Users/Carlos/Documents/BootCamp/Data Analyst/Week2/MiniProject02/GSAF5.csv.xlsx"

df = pd.read_excel(url)

df.columns = df.columns.str.strip()

df['State'] = df['State'].str.lower().str.replace(' ', '')

selected_columns = ['Species', 'State', 'Location']
df_reduced = df[selected_columns]

unique_state_counts = df_reduced['State'].value_counts()

top_five_states = unique_state_counts.head(5).index

print("Top 5 most frequently appearing states:")
print(top_five_states)

df_filtered_reduced = df_reduced[df_reduced['State'].isin(top_five_states)]

print(f"Number of rows in the filtered DataFrame: {df_filtered_reduced.shape[0]}")
display(df_filtered_reduced.head())

Top 5 most frequently appearing states:
Index(['florida', 'newsouthwales', 'queensland', 'hawaii', 'california'], dtype='object', name='State')
Number of rows in the filtered DataFrame: 2724

,Species,State,Location
2,Reported as a large Tiger shark,queensland,Whitsunday Islands
3,Bull or tiger 7-8ft,florida,"Bathtub Beach, Martin County"
5,Bull shark 6ft,florida,Brevard County Orlando
12,4-5ft Blacktip shark,florida,Ponce de Leon Inlet Volusia County
13,Not specified,florida,New Smyrna Beach

In [46]:
import pandas as pd

url = r"C:/Users/Carlos/Documents/BootCamp/Data Analyst/Week2/MiniProject02/GSAF5.csv.xlsx"

df = pd.read_excel(url)

df.columns = df.columns.str.strip()

df['State'] = df['State'].str.lower().str.replace(' ', '')

selected_columns = ['Species', 'State', 'Location']
df_reduced = df[selected_columns]

unique_state_counts = df_reduced['State'].value_counts()

top_five_states = unique_state_counts.head(5).index

print("Top 5 most frequently appearing states:")
print(top_five_states)

df_filtered_reduced = df_reduced[df_reduced['State'].isin(top_five_states)]

print(f"Number of rows in the filtered DataFrame: {df_filtered_reduced.shape[0]}")
display(df_filtered_reduced.head())

df_filtered_reduced['Species'] = df_filtered_reduced['Species'].str.lower()

species_keywords = ["bull", "white", "hammerhead", "grey reef", "tiger", "zambesi"]

species_counts = {}

for keyword in species_keywords:
    count = df_filtered_reduced['Species'].str.contains(keyword).sum()
    species_counts[keyword] = count

print("Counts for each species keyword:")
for species, count in species_counts.items():
    print(f"{species.capitalize()}: {count}")

Top 5 most frequently appearing states:
Index(['florida', 'newsouthwales', 'queensland', 'hawaii', 'california'], dtype='object', name='State')
Number of rows in the filtered DataFrame: 2724

,Species,State,Location
2,Reported as a large Tiger shark,queensland,Whitsunday Islands
3,Bull or tiger 7-8ft,florida,"Bathtub Beach, Martin County"
5,Bull shark 6ft,florida,Brevard County Orlando
12,4-5ft Blacktip shark,florida,Ponce de Leon Inlet Volusia County
13,Not specified,florida,New Smyrna Beach

Counts for each species keyword:
Bull: 96
White: 247
Hammerhead: 37
Grey reef: 4
Tiger: 159
Zambesi: 0

C:\Users\Carlos\AppData\Local\Temp\ipykernel_308468\642817220.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_reduced['Species'] = df_filtered_reduced['Species'].str.lower()

In [56]:
import pandas as pd

url = r"C:/Users/Carlos/Documents/BootCamp/Data Analyst/Week2/MiniProject02/GSAF5.csv.xlsx"

df = pd.read_excel(url)

df.columns = df.columns.str.strip()

df['State'] = df['State'].str.lower().str.replace(' ', '')

selected_columns = ['Species', 'State', 'Location', 'Date']
df_reduced = df[selected_columns].copy()

df_reduced.loc[:, 'Year'] = pd.to_datetime(df_reduced['Date'], errors='coerce').dt.year

df_reduced = df_reduced[(df_reduced['Year'] >= 1990) & (df_reduced['Year'] <= 2024)]

unique_state_counts = df_reduced['State'].value_counts()

top_five_states = unique_state_counts.head(5).index

print("Top 5 most frequently appearing states:")
print(top_five_states)

df_filtered_reduced = df_reduced[df_reduced['State'].isin(top_five_states)]

print(f"Number of rows in the filtered DataFrame: {df_filtered_reduced.shape[0]}")
display(df_filtered_reduced.head())

df_filtered_reduced.loc[:, 'Species'] = df_filtered_reduced['Species'].str.lower()

species_keywords = ["bull", "white", "hammerhead", "grey reef", "tiger", "zambesi"]

species_counts = {}

for keyword in species_keywords:
    count = df_filtered_reduced['Species'].str.contains(keyword).sum()
    species_counts[keyword] = count

print("Counts for each species keyword:")
for species, count in species_counts.items():
    print(f"{species.capitalize()}: {count}")

Top 5 most frequently appearing states:
Index(['florida', 'hawaii', 'newsouthwales', 'california', 'westernaustralia'], dtype='object', name='State')
Number of rows in the filtered DataFrame: 1556

,Species,State,Location,Date,Year
3,Bull or tiger 7-8ft,florida,"Bathtub Beach, Martin County",2024-10-25 00:00:00,2024.0
5,Bull shark 6ft,florida,Brevard County Orlando,2024-10-11 00:00:00,2024.0
11,Undetermined small shall shark,westernaustralia,Trigg beach Sterling,2024-07-18 00:00:00,2024.0
12,4-5ft Blacktip shark,florida,Ponce de Leon Inlet Volusia County,2024-07-08 00:00:00,2024.0
13,Not specified,florida,New Smyrna Beach,2024-07-05 00:00:00,2024.0

Counts for each species keyword:
Bull: 66
White: 191
Hammerhead: 9
Grey reef: 1
Tiger: 111
Zambesi: 0

In [60]:
import pandas as pd

url = r"C:/Users/Carlos/Documents/BootCamp/Data Analyst/Week2/MiniProject02/GSAF5.csv.xlsx"
df = pd.read_excel(url)

df.columns = df.columns.str.strip()
df['State'] = df['State'].str.lower().str.replace(' ', '')

selected_columns = ['Species', 'State', 'Location', 'Date', 'Fatal Y/N']
df_reduced = df[selected_columns].copy()

df_reduced.loc[:, 'Year'] = pd.to_datetime(df_reduced['Date'], errors='coerce').dt.year
df_reduced = df_reduced[(df_reduced['Year'] >= 1990) & (df_reduced['Year'] <= 2024)]

unique_state_counts = df_reduced['State'].value_counts()
top_five_states = unique_state_counts.head(5).index

print("Top 5 most frequently appearing states:")
print(top_five_states)

df_filtered_reduced = df_reduced[df_reduced['State'].isin(top_five_states)]

print(f"Number of rows in the filtered DataFrame: {df_filtered_reduced.shape[0]}")
print(df_filtered_reduced.head())

df_filtered_reduced.loc[:, 'Species'] = df_filtered_reduced['Species'].str.lower().fillna('')

species_keywords = ["bull", "white", "hammerhead", "grey reef", "tiger", "zambesi"]

species_counts = {}
species_fatal_counts = {}

for keyword in species_keywords:
    species_df = df_filtered_reduced[df_filtered_reduced['Species'].str.contains(keyword)]
    
    fatal_counts = species_df['Fatal Y/N'].value_counts(dropna=False)
    
    species_counts[keyword] = len(species_df)
    species_fatal_counts[keyword] = {
        'Y': fatal_counts.get('Y', 0),
        'N': fatal_counts.get('N', 0)
    }

print("Counts for each species keyword:")
for species, count in species_counts.items():
    print(f"{species.capitalize()}: {count}")

print("\nFatal counts for each species keyword:")
for species, counts in species_fatal_counts.items():
    y_count = counts['Y']
    n_count = counts['N']
    print(f"{species.capitalize()} - Fatal (Y): {y_count}, Not Fatal (N): {n_count}")

Top 5 most frequently appearing states:
Index(['florida', 'hawaii', 'newsouthwales', 'california', 'westernaustralia'], dtype='object', name='State')
Number of rows in the filtered DataFrame: 1556
                           Species             State  \
3              Bull or tiger 7-8ft           florida
5                   Bull shark 6ft           florida
11  Undetermined small shall shark  westernaustralia
12            4-5ft Blacktip shark           florida
13                   Not specified           florida

                              Location                 Date Fatal Y/N    Year
3         Bathtub Beach, Martin County  2024-10-25 00:00:00         N  2024.0
5               Brevard County Orlando  2024-10-11 00:00:00         N  2024.0
11                Trigg beach Sterling  2024-07-18 00:00:00         N  2024.0
12  Ponce de Leon Inlet Volusia County  2024-07-08 00:00:00         N  2024.0
13                    New Smyrna Beach  2024-07-05 00:00:00         N  2024.0
Counts for each species keyword:
Bull: 66
White: 191
Hammerhead: 9
Grey reef: 1
Tiger: 111
Zambesi: 0

Fatal counts for each species keyword:
Bull - Fatal (Y): 6, Not Fatal (N): 60
White - Fatal (Y): 28, Not Fatal (N): 161
Hammerhead - Fatal (Y): 0, Not Fatal (N): 9
Grey reef - Fatal (Y): 0, Not Fatal (N): 1
Tiger - Fatal (Y): 14, Not Fatal (N): 96
Zambesi - Fatal (Y): 0, Not Fatal (N): 0

In [62]:
import pandas as pd

url = r"C:/Users/Carlos/Documents/BootCamp/Data Analyst/Week2/MiniProject02/GSAF5.csv.xlsx"
df = pd.read_excel(url)

df.columns = df.columns.str.strip()
df['State'] = df['State'].str.lower().str.replace(' ', '')

selected_columns = ['Species', 'State', 'Location', 'Date', 'Fatal Y/N']
df_reduced = df[selected_columns].copy()

df_reduced.loc[:, 'Year'] = pd.to_datetime(df_reduced['Date'], errors='coerce').dt.year
df_reduced = df_reduced[(df_reduced['Year'] >= 1990) & (df_reduced['Year'] <= 2024)]

unique_state_counts = df_reduced['State'].value_counts()
top_five_states = unique_state_counts.head(5).index

print("Top 5 most frequently appearing states:")
print(top_five_states)

df_filtered_reduced = df_reduced[df_reduced['State'].isin(top_five_states)]

print(f"Number of rows in the filtered DataFrame: {df_filtered_reduced.shape[0]}")
print(df_filtered_reduced.head())

df_filtered_reduced.loc[:, 'Species'] = df_filtered_reduced['Species'].str.lower().fillna('')

species_keywords = ["bull", "white", "hammerhead", "grey reef", "tiger", "zambesi"]

species_counts = {}
species_fatal_counts = {}

for keyword in species_keywords:
    species_df = df_filtered_reduced[df_filtered_reduced['Species'].str.contains(keyword)]
    
    fatal_counts = species_df['Fatal Y/N'].value_counts(dropna=False)
    
    species_counts[keyword] = len(species_df)
    species_fatal_counts[keyword] = {
        'Y': fatal_counts.get('Y', 0),
        'N': fatal_counts.get('N', 0)
    }

print("Counts and percentage of non-fatal incidents for each species keyword:")
for species, counts in species_fatal_counts.items():
    total = species_counts[species]
    n_count = counts['N']
    n_percentage = (n_count / total * 100) if total > 0 else 0
    print(f"{species.capitalize()} - Total: {total}, Non-Fatal (N): {n_count}, Percentage of N: {n_percentage:.2f}%")

Top 5 most frequently appearing states:
Index(['florida', 'hawaii', 'newsouthwales', 'california', 'westernaustralia'], dtype='object', name='State')
Number of rows in the filtered DataFrame: 1556
                           Species             State  \
3              Bull or tiger 7-8ft           florida
5                   Bull shark 6ft           florida
11  Undetermined small shall shark  westernaustralia
12            4-5ft Blacktip shark           florida
13                   Not specified           florida

                              Location                 Date Fatal Y/N    Year
3         Bathtub Beach, Martin County  2024-10-25 00:00:00         N  2024.0
5               Brevard County Orlando  2024-10-11 00:00:00         N  2024.0
11                Trigg beach Sterling  2024-07-18 00:00:00         N  2024.0
12  Ponce de Leon Inlet Volusia County  2024-07-08 00:00:00         N  2024.0
13                    New Smyrna Beach  2024-07-05 00:00:00         N  2024.0
Counts and percentage of non-fatal incidents for each species keyword:
Bull - Total: 66, Non-Fatal (N): 60, Percentage of N: 90.91%
White - Total: 191, Non-Fatal (N): 161, Percentage of N: 84.29%
Hammerhead - Total: 9, Non-Fatal (N): 9, Percentage of N: 100.00%
Grey reef - Total: 1, Non-Fatal (N): 1, Percentage of N: 100.00%
Tiger - Total: 111, Non-Fatal (N): 96, Percentage of N: 86.49%
Zambesi - Total: 0, Non-Fatal (N): 0, Percentage of N: 0.00%